/* Reusable Card Styling */
.card-container {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  height: 624px;
  background-size: cover;
}

.card-content-container {
  margin-top: 80px;
  text-align: center;
}

.card-content-container h2 {
  font-family: SFPro-Regular;
  font-size: 56px;
}

.card-content-container p {
  font-family: SFPro-Regular;
  font-size: 28px;
  margin-top: 4px;
}

.card-links-container {
  margin-top: 13.5px;
}

.card-links-container a {
  font-family: SFPro-Regular;
  font-size: 21px;
  text-decoration: none;
  color: #2997ff;
}

.card-links-container a:first-child {
  margin-right: 35px;
}

.card-links-container a::after {
  content: "\f301";
  margin-left: 6px;
  font-family: SFPro-Icons;
}

/* Section-1 Styles */
.section-one-container {
  background-image: url(../../assets/hero/iphone-15-pro-largetall-2x.jpg);
  background-color: rgb(0, 0, 0);
}

.section-one-content {
  color: #f5f5f7;
}

/* Section-2 Styles */
.section-two-container {
  background-image: url(../../assets/hero/iphone-15-large-2x.jpg);
  background-color: #f5f5f7;
}

.section-two-content {
  color: #1d1d1f;
  margin-top: 70px;
}

/* Section-3 Styles */
.section-three-container {
  background-image: url(../../assets/hero/macbook-pro-large-2x.jpg);
}

.section-three-content {
  color: #1d1d1f;
  margin-top: 70px;
}

.section-three-content p::after {
  content: "Avaialable starting 11.7";
  display: block;
  margin-top: 13px;
  color: #6e6e73;
  font-size: 17px;
}

/* Card Qeueries */

@media screen and (max-width: 1070px) {
  .card-container {
    height: 617px;
  }

  .card-content-container h2 {
    font-size: 48px;
  }

  .card-content-container p {
    font-size: 24px;
  }

  .card-links-container a {
    font-size: 19px;
  }
}

@media screen and (max-width: 735px) {
  .card-container {
    height: 548px;
  }

  .card-content-container h2 {
    font-size: 32px;
  }

  .card-content-container p {
    font-size: 19px;
  }

  .card-links-container a {
    font-size: 17px;
  }
}

/* Section-1 Qeueries */
@media screen and (max-width: 1070px) {
  .section-one-container {
    background-image: url(../../assets/hero/iphone-15-pro-medium-2x.jpg);
  }
}

@media screen and (max-width: 735px) {
  .section-one-container {
    background-image: url(../../assets/hero/iphone-15-pro-smalltall-2x.jpg);
  }
}

/* Section-2 Qeueries */
@media screen and (max-width: 1070px) {
  .section-two-container {
    background-image: url(../../assets/hero/iphone-15-medium-2x.jpg);
  }
}

@media screen and (max-width: 735px) {
  .section-two-container {
    background-image: url(../../assets/hero/iphone-15-smalltall-2x.jpg);
  }
}

/* Section-3 Qeueries */
@media screen and (max-width: 1070px) {
  .section-three-container {
    background-image: url(../../assets/hero/macbook-pro-medium-2x.jpg);
  }
}

@media screen and (max-width: 735px) {
  .section-three-container {
    background-image: url(../../assets/hero/macbook-pro-small-2x.jpg);
  }
}
