/* Reusable Card Styling */
.card-container {
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.card-content-container {
  margin-top: 100px;
  text-align: center;
}

.card-content-container h2 {
  font-family: SFPro-Regular;
  font-size: 56px;
}

.card-content-container p {
  font-family: SFPro-Regular;
  font-size: 28px;
}

.card-links-container {
  margin-top: 13.5px;
}

.card-links-container a {
  font-family: SFPro-Regular;
  font-size: 21px;
  text-decoration: none;
  color: #2997ff;
}

.card-links-container a:first-child {
  margin-right: 35px;
}

.card-links-container a::after {
  content: "\f301";
  margin-left: 6px;
  font-family: SFPro-Icons;
}

/* Section-1 Styles */
.section-one-container {
  background-image: url(../../assets/iphone15pro.jpg);
  height: 617px;
  background-color: rgb(0, 0, 0);
}

.section-one-content {
  color: #f5f5f7;
}

/* Section-2 Styles */
.section-two-container {
  background-image: url(../../assets/iphone15.jpg);
  height: 617px;
  background-color: #f5f5f7;
}

.section-two-content {
  color: #1d1d1f;
  margin-top: 70px;
}

/* Section-3 Styles */
.section-three-container {
  background-image: url(../../assets/applewatch9.jpg);
  height: 624px;
}

.section-three-content {
  color: #f5f5f7;
  margin-top: 70px;
}

.section-three-content h2 {
  background-image: url(../../assets/applewatchlogo.png);
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 14px;
}
