* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: SFPro-light;
  src: url(./fonts/SF-Pro-Text-Light.woff2);
}

@font-face {
  font-family: SFPro-Regular;
  src: url(./fonts/SF-Pro-Text-Regular.woff2);
}

@font-face {
  font-family: SFPro-Icons;
  src: url(./fonts/SF-Pro-Icons.woff2);
}

body {
  font-family: SFPro-light, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
