.header-nav {
  background-color: rgba(22, 22, 23, 0.8);
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 12px;
  backdrop-filter: blur(5px);
}

.nav-items-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1024px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo-lg svg {
  transition: fill 1s ease-out;
}

.logo-lg svg:hover {
  fill: #fff;
}

.nav-items {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

.nav-items a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.nav-icons {
  display: flex;
  width: 6.5%;
  justify-content: space-between;
  align-items: center;
}

.nav-icon-lg {
  display: none;
}

.menu-icon {
  display: none;
}
.nav-items-container a svg {
  display: flex;
  align-items: center;
  fill: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 840px) {
  .nav-items {
    display: none;
  }
  .nav-icons {
    width: 115px;
  }

  .nav-icon-sm {
    display: none;
  }

  .nav-icon-lg {
    display: inline;
  }
  .menu-icon {
    display: inline;
  }

  .menu-icon svg {
    color: rgba(255, 255, 255, 0.8);
  }
}
